/**
 * SVG Admin Styles
 *
 * Styles for proper SVG display in WordPress admin area.
 *
 * @package Main
 * @since 1.0.0
 */

/* Fix SVG display in media library */
.attachment.type-image.subtype-svg\+xml img,
.attachment.type-image.subtype-svg\+xml .attachment-preview img {
	width: 100% !important;
	height: auto !important;
	max-width: 100%;
}

/* Fix media icon display */
.media-icon img[src$=".svg"],
.media-icon img[src$=".svgz"] {
	width: 100%;
	height: auto;
	max-width: 100%;
}

/* Fix featured image display */
#postimagediv .inside .svg-featured-image img,
#postimagediv .inside img[src$=".svg"],
#postimagediv .inside img[src$=".svgz"] {
	width: 100%;
	height: auto;
	max-width: 100%;
}

/* Fix SVG in attachment details */
.attachment-details .thumbnail img[src$=".svg"],
.attachment-details .thumbnail img[src$=".svgz"] {
	width: 100%;
	height: auto;
	max-width: 100%;
}

/* Fix SVG in media grid view */
.media-frame-content .attachments .attachment img[src$=".svg"],
.media-frame-content .attachments .attachment img[src$=".svgz"] {
	width: 100%;
	height: auto;
	max-width: 100%;
}

/* Ensure SVG maintains aspect ratio */
img[src$=".svg"],
img[src$=".svgz"] {
	max-width: 100%;
	height: auto;
}

